<p class="disclaim">
  <strong>
  <% if site = current_site || Site.first %>
    <%= site.tagline %>
  <% end %>
  </strong>
</p>
<p style="clear:left;float:left;">
  <%= I18n.t 'txt.footer_message', :default => "Two's company. Three's a forum. More's a Beast." %>
</p>
<p class="credit">
  <%= I18n.t('txt.powered_by', :default => 'Powered by') %> <a href="http://golem.ph.utexas.edu/~distler/code/heterotic_beast.git">Heterotic Beast</a><br />
  &#xa9; 2006 - 2011 <a href="http://www.workingwithrails.com/person/5337-josh-goebel" class="subtle">Josh Goebel</a>,
  <a href="http://blog.caboo.se" class="subtle">Courtenay Gasking</a>, 
  <a href="http://weblog.techno-weenie.net" class="subtle">Rick Olson</a> <%= I18n.t 'txt.and', :default => 'and' %>
  <a href="http://golem.ph.utexas.edu/~distler/blog/">Jacques Distler</a>
</p>
